{% extends 'base.html.twig' %}

{% block body %}
    <h1>HTTP Status Codes ({{ codes|length }})</h1>
    {% for code, text in codes %}
        <h3>{{ code }} - {{ text }}</h3>
    {% endfor %}
{% endblock %}
